<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=content.title%></title>
</head>
<body>
   <%if(locals.user){%>
    <%-include('../layout.ejs')%>
   <%}%>
   <%if(!locals.user){%>
    <%-include('../layout2.ejs')%>
   <%}%>
   <div class="container">
       <div class="boxcontent">
           <h2 class="text-center" style="font-weight: bold;"><%=content.title%></h2>
           <hr>
          <div class="text-center mt-4">
            <img src="<%=content.image%>" alt="" style="max-width: 600px;">
          </div>
           <div class="mt-5">
               <h4 style="font-weight: bold;"><%=content.title%></h4>
            <p><%-content.content%></p> 
           </div>
           <hr>
           <h5><%=content.author%> | <%=moment(content.date).format("DD-MM-YYYY") %>
           </h5>
       </div>
   </div>
</body>
</html>