<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
</head>
<body>
    <%-include('../layout.ejs')%>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 mt-5">
                <h2 class="text-center" style="font-weight: bold;"> My Content</h2>
               <div class="container">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">View Lesson</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                      <% if(user.Content){%>
                      <% for (var result of user.Content){ %>
                      <tr>
                        <td><%= result.content_title %></td>
                        <td><%= moment(result.conten_date).format("DD-MM-YYYY")%></td>
                        <td><a href="/content/views/" class="btn btn-success btn-sm">View Content</a></td>
                     
                      </tr>
                      <% } %>
                      <% } %>
                    </tbody>
                  </table>
               </div>
                  

            </div>
            <div class="col-sm-3">
               <div class="text-center mt-5">
                <img src="/images/user1.png" alt="" width="18%">
               </div>
                <h6 class="text-center mt-4">Username: <%= user.username%></h6>
                <h6 class="text-center mt-4">Email: <%= user.email%></h6>
                <h6 class="text-center mt-4">Firstname: <%= user.firstname%> </h6>
                <h6 class="text-center mt-3">Lastname: <%=user.lastname%></h6>
            </div>
        </div>
    </div>

    
</body>
</html>